::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f4f4f5;
}

::-webkit-scrollbar-thumb {
  background: #171717;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #27272a;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
